
<head>
    <meta charset="UTF-8" />
    <title>Document</title>
</head>
<header>
        <%= render "shared/top_nav" %>
</header>
<body>

    <h1> This is a Single Artwork</h1>

         <h3><%= ["title"] %>Title</h3>
          <h3><%= ["image"] %>Image</h3>
           <h3><%= ["information"] %>Information</h3>
            <h3><%= ["date"] %>Date</h3>



    <%= link_to "Back", :back %>
</body>






