<%= render "shared/top_nav" %>
<%= render "shared/nav" %>


<%= link_to "New", new_post_path(@post), :class => "btn btn-dark" %>
<main role="main">
<div class=" bg-light">
        <section class="container ">
        <div class="row"> 
                 <% @posts.each do |post| %>
                    <div class="column">
                    <%= image_tag post.image, :class => "img-size" %>
                        <p class="index-names"><%= link_to post.title, post %></p>
                    </div>
                    <% end %>

                    </div>
        <section>
    </div>

</main>

<%= render "shared/footer" %>